*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
.main{
    position: relative;
    min-height: 100vh;
    background: radial-gradient(#F5B407, #E54F33); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;

    header{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

        .logokikiri{
            max-width: 120px;
        }
        .navigation{
            display: flex;
            li{
                list-style: none;                
                a{
                    position: relative;
                    color:black;
                    text-decoration: none;
                    margin-left: 40px;
                }
            }

        }
    }
    .content{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .text{
            width: 100%;
            max-width: 600px;
            h2{
                color: #1C1D1F;
                font-size: 5em;
                font-weight: 300;
                line-height: 1.5em;
                margin: 20px 0;
                span{
                    font-weight: 700;
                }
            }
            p{
                color: #D4D4D4;
                font-weight: 400;
                font-size: 1.1em;
                line-height: 1.5em;
                margin:20px 0;
            }
            .btn{
                position: relative;
                display: inline-block;
                padding: 20px 50px;
                background-color: #F5B407;
                color: #333;
                font-size: 1.1em;
                font-weight: 500;
                border-radius: 40px;
                text-decoration: none;
                transition: 0.25s;
                &:hover{
                    letter-spacing: 1px;

                }

            }
        }
        .content-img{
            position: relative;
            .imgpollo{                
                display: block;
                img{
                    width: 100%;
                    max-width: 600px;
                }
            }
        }

    }
}
@media (max-width:600px)
{
    .main{
        padding: 20px ;
    }
}